<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rl.ecps.sqlMap.EbConsoleLogMapper" >
  <resultMap id="BaseResultMap" type="com.rl.ecps.model.EbConsoleLog" >
    <id column="CONSOLE_LOG_ID" property="consoleLogId" jdbcType="DECIMAL" />
    <result column="ENTITY_NAME" property="entityName" jdbcType="VARCHAR" />
    <result column="ENTITY_ID" property="entityId" jdbcType="DECIMAL" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="OP_TYPE" property="opType" jdbcType="VARCHAR" />
    <result column="OP_TIME" property="opTime" jdbcType="TIMESTAMP" />
    <result column="NOTES" property="notes" jdbcType="VARCHAR" />
    <result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CONSOLE_LOG_ID, ENTITY_NAME, ENTITY_ID, USER_ID, OP_TYPE, OP_TIME, NOTES, TABLE_NAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from EB_CONSOLE_LOG
    where CONSOLE_LOG_ID = #{consoleLogId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from EB_CONSOLE_LOG
    where CONSOLE_LOG_ID = #{consoleLogId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.rl.ecps.model.EbConsoleLog" >
    insert into EB_CONSOLE_LOG (CONSOLE_LOG_ID, ENTITY_NAME, ENTITY_ID, 
      USER_ID, OP_TYPE, OP_TIME, 
      NOTES, TABLE_NAME)
    values (seqconsolelogid.nextval, #{entityName,jdbcType=VARCHAR}, #{entityId,jdbcType=DECIMAL},
      #{userId,jdbcType=DECIMAL}, #{opType,jdbcType=VARCHAR}, #{opTime,jdbcType=TIMESTAMP}, 
      #{notes,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rl.ecps.model.EbConsoleLog" >
    insert into EB_CONSOLE_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="consoleLogId != null" >
        CONSOLE_LOG_ID,
      </if>
      <if test="entityName != null" >
        ENTITY_NAME,
      </if>
      <if test="entityId != null" >
        ENTITY_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="opType != null" >
        OP_TYPE,
      </if>
      <if test="opTime != null" >
        OP_TIME,
      </if>
      <if test="notes != null" >
        NOTES,
      </if>
      <if test="tableName != null" >
        TABLE_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="consoleLogId != null" >
        #{consoleLogId,jdbcType=DECIMAL},
      </if>
      <if test="entityName != null" >
        #{entityName,jdbcType=VARCHAR},
      </if>
      <if test="entityId != null" >
        #{entityId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="opType != null" >
        #{opType,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null" >
        #{opTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rl.ecps.model.EbConsoleLog" >
    update EB_CONSOLE_LOG
    <set >
      <if test="entityName != null" >
        ENTITY_NAME = #{entityName,jdbcType=VARCHAR},
      </if>
      <if test="entityId != null" >
        ENTITY_ID = #{entityId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="opType != null" >
        OP_TYPE = #{opType,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null" >
        OP_TIME = #{opTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notes != null" >
        NOTES = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        TABLE_NAME = #{tableName,jdbcType=VARCHAR},
      </if>
    </set>
    where CONSOLE_LOG_ID = #{consoleLogId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rl.ecps.model.EbConsoleLog" >
    update EB_CONSOLE_LOG
    set ENTITY_NAME = #{entityName,jdbcType=VARCHAR},
      ENTITY_ID = #{entityId,jdbcType=DECIMAL},
      USER_ID = #{userId,jdbcType=DECIMAL},
      OP_TYPE = #{opType,jdbcType=VARCHAR},
      OP_TIME = #{opTime,jdbcType=TIMESTAMP},
      NOTES = #{notes,jdbcType=VARCHAR},
      TABLE_NAME = #{tableName,jdbcType=VARCHAR}
    where CONSOLE_LOG_ID = #{consoleLogId,jdbcType=DECIMAL}
  </update>
</mapper>