<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rl.ecps.sqlMap.EbFeatureMapper" >
  <resultMap id="BaseResultMap" type="com.rl.ecps.model.EbFeature" >
    <id column="FEATURE_ID" property="featureId" jdbcType="DECIMAL" />
    <result column="CAT_ID" property="catId" jdbcType="DECIMAL" />
    <result column="FEATURE_NAME" property="featureName" jdbcType="VARCHAR" />
    <result column="IS_SPEC" property="isSpec" jdbcType="DECIMAL" />
    <result column="IS_SELECT" property="isSelect" jdbcType="DECIMAL" />
    <result column="IS_SHOW" property="isShow" jdbcType="DECIMAL" />
    <result column="SELECT_VALUES" property="selectValues" jdbcType="VARCHAR" />
    <result column="INPUT_TYPE" property="inputType" jdbcType="DECIMAL" />
    <result column="FEATURE_SORT" property="featureSort" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    FEATURE_ID, CAT_ID, FEATURE_NAME, IS_SPEC, IS_SELECT, IS_SHOW, SELECT_VALUES, INPUT_TYPE, 
    FEATURE_SORT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from EB_FEATURE
    where FEATURE_ID = #{featureId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from EB_FEATURE
    where FEATURE_ID = #{featureId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.rl.ecps.model.EbFeature" >


    insert into EB_FEATURE (FEATURE_ID, CAT_ID, FEATURE_NAME, 
      IS_SPEC, IS_SELECT, IS_SHOW,
      SELECT_VALUES, INPUT_TYPE, FEATURE_SORT
      )
    values (#{featureId,jdbcType=DECIMAL}, #{catId,jdbcType=DECIMAL}, #{featureName,jdbcType=VARCHAR}, 
      #{isSpec,jdbcType=DECIMAL}, #{isSelect,jdbcType=DECIMAL}, #{isShow,jdbcType=DECIMAL}, 
      #{selectValues,jdbcType=VARCHAR}, #{inputType,jdbcType=DECIMAL}, #{featureSort,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rl.ecps.model.EbFeature" >
    insert into EB_FEATURE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="featureId != null" >
        FEATURE_ID,
      </if>
      <if test="catId != null" >
        CAT_ID,
      </if>
      <if test="featureName != null" >
        FEATURE_NAME,
      </if>
      <if test="isSpec != null" >
        IS_SPEC,
      </if>
      <if test="isSelect != null" >
        IS_SELECT,
      </if>
      <if test="isShow != null" >
        IS_SHOW,
      </if>
      <if test="selectValues != null" >
        SELECT_VALUES,
      </if>
      <if test="inputType != null" >
        INPUT_TYPE,
      </if>
      <if test="featureSort != null" >
        FEATURE_SORT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="featureId != null" >
        #{featureId,jdbcType=DECIMAL},
      </if>
      <if test="catId != null" >
        #{catId,jdbcType=DECIMAL},
      </if>
      <if test="featureName != null" >
        #{featureName,jdbcType=VARCHAR},
      </if>
      <if test="isSpec != null" >
        #{isSpec,jdbcType=DECIMAL},
      </if>
      <if test="isSelect != null" >
        #{isSelect,jdbcType=DECIMAL},
      </if>
      <if test="isShow != null" >
        #{isShow,jdbcType=DECIMAL},
      </if>
      <if test="selectValues != null" >
        #{selectValues,jdbcType=VARCHAR},
      </if>
      <if test="inputType != null" >
        #{inputType,jdbcType=DECIMAL},
      </if>
      <if test="featureSort != null" >
        #{featureSort,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rl.ecps.model.EbFeature" >
    update EB_FEATURE
    <set >
      <if test="catId != null" >
        CAT_ID = #{catId,jdbcType=DECIMAL},
      </if>
      <if test="featureName != null" >
        FEATURE_NAME = #{featureName,jdbcType=VARCHAR},
      </if>
      <if test="isSpec != null" >
        IS_SPEC = #{isSpec,jdbcType=DECIMAL},
      </if>
      <if test="isSelect != null" >
        IS_SELECT = #{isSelect,jdbcType=DECIMAL},
      </if>
      <if test="isShow != null" >
        IS_SHOW = #{isShow,jdbcType=DECIMAL},
      </if>
      <if test="selectValues != null" >
        SELECT_VALUES = #{selectValues,jdbcType=VARCHAR},
      </if>
      <if test="inputType != null" >
        INPUT_TYPE = #{inputType,jdbcType=DECIMAL},
      </if>
      <if test="featureSort != null" >
        FEATURE_SORT = #{featureSort,jdbcType=DECIMAL},
      </if>
    </set>
    where FEATURE_ID = #{featureId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rl.ecps.model.EbFeature" >
    update EB_FEATURE
    set CAT_ID = #{catId,jdbcType=DECIMAL},
      FEATURE_NAME = #{featureName,jdbcType=VARCHAR},
      IS_SPEC = #{isSpec,jdbcType=DECIMAL},
      IS_SELECT = #{isSelect,jdbcType=DECIMAL},
      IS_SHOW = #{isShow,jdbcType=DECIMAL},
      SELECT_VALUES = #{selectValues,jdbcType=VARCHAR},
      INPUT_TYPE = #{inputType,jdbcType=DECIMAL},
      FEATURE_SORT = #{featureSort,jdbcType=DECIMAL}
    where FEATURE_ID = #{featureId,jdbcType=DECIMAL}
  </update>

  <select id="selectCommFeature" resultMap="BaseResultMap">

    select * from eb_feature t where t.is_spec = 0
  </select>
  <select id="selectSpecFeature" resultMap="BaseResultMap">
    select * from eb_feature t where t.is_spec = 1
  </select>

  <select id="selectIsSelect" resultMap="BaseResultMap">
    select * from eb_feature t where t.is_select = 1
  </select>
</mapper>