<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rl.ecps.sqlMap.EbOrderMapper" >
  <resultMap id="BaseResultMap" type="com.rl.ecps.model.EbOrder" >
    <id column="ORDER_ID" property="orderId" jdbcType="DECIMAL" />
    <result column="PTL_USER_ID" property="ptlUserId" jdbcType="DECIMAL" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="ORDER_NUM" property="orderNum" jdbcType="VARCHAR" />
    <result column="PAYMENT" property="payment" jdbcType="DECIMAL" />
    <result column="PAY_PLATFORM" property="payPlatform" jdbcType="DECIMAL" />
    <result column="DELIVERY" property="delivery" jdbcType="DECIMAL" />
    <result column="IS_CONFIRM" property="isConfirm" jdbcType="DECIMAL" />
    <result column="ORDER_SUM" property="orderSum" jdbcType="DECIMAL" />
    <result column="SHIP_FEE" property="shipFee" jdbcType="DECIMAL" />
    <result column="IS_PAID" property="isPaid" jdbcType="DECIMAL" />
    <result column="ORDER_STATE" property="orderState" jdbcType="DECIMAL" />
    <result column="PAYMENT_CASH" property="paymentCash" jdbcType="DECIMAL" />
    <result column="DISTRI_ID" property="distriId" jdbcType="DECIMAL" />
    <result column="DELIVERY_METHOD" property="deliveryMethod" jdbcType="DECIMAL" />
    <result column="PAYMENT_NO" property="paymentNo" jdbcType="VARCHAR" />
    <result column="ORDER_TIME" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="PAY_TIME" property="payTime" jdbcType="TIMESTAMP" />
    <result column="DEPOSIT_TIME" property="depositTime" jdbcType="TIMESTAMP" />
    <result column="SUCCESS_TIME" property="successTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="SRV_TYPE" property="srvType" jdbcType="DECIMAL" />
    <result column="SELF_COLLECT_SITE" property="selfCollectSite" jdbcType="VARCHAR" />
    <result column="SELF_COLLECT_SITE_ID" property="selfCollectSiteId" jdbcType="DECIMAL" />
    <result column="IS_DELETED" property="isDeleted" jdbcType="DECIMAL" />
    <result column="IS_DISPLAY" property="isDisplay" jdbcType="DECIMAL" />
    <result column="NOTES" property="notes" jdbcType="VARCHAR" />
    <result column="SHIP_NAME" property="shipName" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="DISTRICT" property="district" jdbcType="VARCHAR" />
    <result column="ZIP_CODE" property="zipCode" jdbcType="VARCHAR" />
    <result column="ADDR" property="addr" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="PAYABLE" property="payable" jdbcType="DECIMAL" />
    <result column="COMPANY" property="company" jdbcType="VARCHAR" />
    <result column="CONTENTS" property="contents" jdbcType="DECIMAL" />
    <result column="IS_CALL" property="isCall" jdbcType="DECIMAL" />
    <result column="DELIVERY_NO" property="deliveryNo" jdbcType="VARCHAR" />
    <result column="AREA_CODE" property="areaCode" jdbcType="VARCHAR" />
    <result column="AREA_NAME" property="areaName" jdbcType="VARCHAR" />
    <result column="IS_PRINT" property="isPrint" jdbcType="DECIMAL" />
    <result column="CRM_CALLS_TIME" property="crmCallsTime" jdbcType="TIMESTAMP" />
    <result column="IS_OFFER_RELEASE" property="isOfferRelease" jdbcType="DECIMAL" />
    <result column="JOB_NUM" property="jobNum" jdbcType="VARCHAR" />
    <result column="ORDER_TYPE" property="orderType" jdbcType="DECIMAL" />
    <result column="FIXED_PHONE" property="fixedPhone" jdbcType="VARCHAR" />
    <result column="ATTACH_FILE" property="attachFile" jdbcType="VARCHAR" />
    <result column="RETURN_TYPE" property="returnType" jdbcType="DECIMAL" />
    <result column="SECKILL_ID" property="seckillId" jdbcType="DECIMAL" />
    <result column="ORDER_SOURCE" property="orderSource" jdbcType="DECIMAL" />
    <result column="ORDER_EXT1" property="orderExt1" jdbcType="VARCHAR" />
    <result column="ORDER_EXT2" property="orderExt2" jdbcType="VARCHAR" />
    <result column="ORDER_EXT3" property="orderExt3" jdbcType="VARCHAR" />
    <result column="ORDER_EXT4" property="orderExt4" jdbcType="VARCHAR" />
    <result column="ORDER_EXT5" property="orderExt5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ORDER_ID, PTL_USER_ID, USERNAME, ORDER_NUM, PAYMENT, PAY_PLATFORM, DELIVERY, IS_CONFIRM, 
    ORDER_SUM, SHIP_FEE, IS_PAID, ORDER_STATE, PAYMENT_CASH, DISTRI_ID, DELIVERY_METHOD, 
    PAYMENT_NO, ORDER_TIME, PAY_TIME, DEPOSIT_TIME, SUCCESS_TIME, UPDATE_TIME, SRV_TYPE, 
    SELF_COLLECT_SITE, SELF_COLLECT_SITE_ID, IS_DELETED, IS_DISPLAY, NOTES, SHIP_NAME, 
    PROVINCE, CITY, DISTRICT, ZIP_CODE, ADDR, PHONE, PAYABLE, COMPANY, CONTENTS, IS_CALL, 
    DELIVERY_NO, AREA_CODE, AREA_NAME, IS_PRINT, CRM_CALLS_TIME, IS_OFFER_RELEASE, JOB_NUM, 
    ORDER_TYPE, FIXED_PHONE, ATTACH_FILE, RETURN_TYPE, SECKILL_ID, ORDER_SOURCE, ORDER_EXT1, 
    ORDER_EXT2, ORDER_EXT3, ORDER_EXT4, ORDER_EXT5
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from EB_ORDER
    where ORDER_ID = #{orderId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from EB_ORDER
    where ORDER_ID = #{orderId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.rl.ecps.model.EbOrder">
    <selectKey keyProperty="orderId" order="BEFORE" resultType="long">
      select seqorderid.nextval from dual
    </selectKey>
    insert into EB_ORDER (ORDER_ID, PTL_USER_ID, USERNAME,
    ORDER_NUM, PAYMENT, PAY_PLATFORM,
    DELIVERY, IS_CONFIRM, ORDER_SUM,
    SHIP_FEE, IS_PAID, ORDER_STATE,
    PAYMENT_CASH, DISTRI_ID, DELIVERY_METHOD,
    PAYMENT_NO, ORDER_TIME, PAY_TIME,
    DEPOSIT_TIME, SUCCESS_TIME, UPDATE_TIME,
    SRV_TYPE, SELF_COLLECT_SITE, SELF_COLLECT_SITE_ID,
    IS_DELETED, IS_DISPLAY, NOTES,
    SHIP_NAME, PROVINCE, CITY,
    DISTRICT, ZIP_CODE, ADDR,
    PHONE, PAYABLE, COMPANY,
    CONTENTS, IS_CALL, DELIVERY_NO,
    AREA_CODE, AREA_NAME, IS_PRINT,
    CRM_CALLS_TIME, IS_OFFER_RELEASE, JOB_NUM,
    ORDER_TYPE, FIXED_PHONE, ATTACH_FILE,
    RETURN_TYPE, SECKILL_ID, ORDER_SOURCE,
    ORDER_EXT1, ORDER_EXT2, ORDER_EXT3,
    ORDER_EXT4, ORDER_EXT5)
    values (#{orderId,jdbcType=DECIMAL}, #{ptlUserId,jdbcType=DECIMAL}, #{username,jdbcType=VARCHAR},
    #{orderNum,jdbcType=VARCHAR}, #{payment,jdbcType=DECIMAL}, #{payPlatform,jdbcType=DECIMAL},
    #{delivery,jdbcType=DECIMAL}, #{isConfirm,jdbcType=DECIMAL}, #{orderSum,jdbcType=DECIMAL},
    #{shipFee,jdbcType=DECIMAL}, 0, #{orderState,jdbcType=DECIMAL},
    #{paymentCash,jdbcType=DECIMAL}, #{distriId,jdbcType=DECIMAL}, #{deliveryMethod,jdbcType=DECIMAL},
    #{paymentNo,jdbcType=VARCHAR}, sysdate, #{payTime,jdbcType=TIMESTAMP},
    #{depositTime,jdbcType=TIMESTAMP}, #{successTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
    #{srvType,jdbcType=DECIMAL}, #{selfCollectSite,jdbcType=VARCHAR}, #{selfCollectSiteId,jdbcType=DECIMAL},
    #{isDeleted,jdbcType=DECIMAL}, #{isDisplay,jdbcType=DECIMAL}, #{notes,jdbcType=VARCHAR},
    #{shipName,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
    #{district,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR},
    #{phone,jdbcType=VARCHAR}, #{payable,jdbcType=DECIMAL}, #{company,jdbcType=VARCHAR},
    #{contents,jdbcType=DECIMAL}, 0, #{deliveryNo,jdbcType=VARCHAR},
    #{areaCode,jdbcType=VARCHAR}, #{areaName,jdbcType=VARCHAR}, #{isPrint,jdbcType=DECIMAL},
    #{crmCallsTime,jdbcType=TIMESTAMP}, #{isOfferRelease,jdbcType=DECIMAL}, #{jobNum,jdbcType=VARCHAR},
    #{orderType,jdbcType=DECIMAL}, #{fixedPhone,jdbcType=VARCHAR}, #{attachFile,jdbcType=VARCHAR},
    #{returnType,jdbcType=DECIMAL}, #{seckillId,jdbcType=DECIMAL}, #{orderSource,jdbcType=DECIMAL},
    #{orderExt1,jdbcType=VARCHAR}, #{orderExt2,jdbcType=VARCHAR}, #{orderExt3,jdbcType=VARCHAR},
    #{orderExt4,jdbcType=VARCHAR}, #{orderExt5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rl.ecps.model.EbOrder" >
    insert into EB_ORDER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="ptlUserId != null" >
        PTL_USER_ID,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="orderNum != null" >
        ORDER_NUM,
      </if>
      <if test="payment != null" >
        PAYMENT,
      </if>
      <if test="payPlatform != null" >
        PAY_PLATFORM,
      </if>
      <if test="delivery != null" >
        DELIVERY,
      </if>
      <if test="isConfirm != null" >
        IS_CONFIRM,
      </if>
      <if test="orderSum != null" >
        ORDER_SUM,
      </if>
      <if test="shipFee != null" >
        SHIP_FEE,
      </if>
      <if test="isPaid != null" >
        IS_PAID,
      </if>
      <if test="orderState != null" >
        ORDER_STATE,
      </if>
      <if test="paymentCash != null" >
        PAYMENT_CASH,
      </if>
      <if test="distriId != null" >
        DISTRI_ID,
      </if>
      <if test="deliveryMethod != null" >
        DELIVERY_METHOD,
      </if>
      <if test="paymentNo != null" >
        PAYMENT_NO,
      </if>
      <if test="orderTime != null" >
        ORDER_TIME,
      </if>
      <if test="payTime != null" >
        PAY_TIME,
      </if>
      <if test="depositTime != null" >
        DEPOSIT_TIME,
      </if>
      <if test="successTime != null" >
        SUCCESS_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="srvType != null" >
        SRV_TYPE,
      </if>
      <if test="selfCollectSite != null" >
        SELF_COLLECT_SITE,
      </if>
      <if test="selfCollectSiteId != null" >
        SELF_COLLECT_SITE_ID,
      </if>
      <if test="isDeleted != null" >
        IS_DELETED,
      </if>
      <if test="isDisplay != null" >
        IS_DISPLAY,
      </if>
      <if test="notes != null" >
        NOTES,
      </if>
      <if test="shipName != null" >
        SHIP_NAME,
      </if>
      <if test="province != null" >
        PROVINCE,
      </if>
      <if test="city != null" >
        CITY,
      </if>
      <if test="district != null" >
        DISTRICT,
      </if>
      <if test="zipCode != null" >
        ZIP_CODE,
      </if>
      <if test="addr != null" >
        ADDR,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="payable != null" >
        PAYABLE,
      </if>
      <if test="company != null" >
        COMPANY,
      </if>
      <if test="contents != null" >
        CONTENTS,
      </if>
      <if test="isCall != null" >
        IS_CALL,
      </if>
      <if test="deliveryNo != null" >
        DELIVERY_NO,
      </if>
      <if test="areaCode != null" >
        AREA_CODE,
      </if>
      <if test="areaName != null" >
        AREA_NAME,
      </if>
      <if test="isPrint != null" >
        IS_PRINT,
      </if>
      <if test="crmCallsTime != null" >
        CRM_CALLS_TIME,
      </if>
      <if test="isOfferRelease != null" >
        IS_OFFER_RELEASE,
      </if>
      <if test="jobNum != null" >
        JOB_NUM,
      </if>
      <if test="orderType != null" >
        ORDER_TYPE,
      </if>
      <if test="fixedPhone != null" >
        FIXED_PHONE,
      </if>
      <if test="attachFile != null" >
        ATTACH_FILE,
      </if>
      <if test="returnType != null" >
        RETURN_TYPE,
      </if>
      <if test="seckillId != null" >
        SECKILL_ID,
      </if>
      <if test="orderSource != null" >
        ORDER_SOURCE,
      </if>
      <if test="orderExt1 != null" >
        ORDER_EXT1,
      </if>
      <if test="orderExt2 != null" >
        ORDER_EXT2,
      </if>
      <if test="orderExt3 != null" >
        ORDER_EXT3,
      </if>
      <if test="orderExt4 != null" >
        ORDER_EXT4,
      </if>
      <if test="orderExt5 != null" >
        ORDER_EXT5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=DECIMAL},
      </if>
      <if test="ptlUserId != null" >
        #{ptlUserId,jdbcType=DECIMAL},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="payment != null" >
        #{payment,jdbcType=DECIMAL},
      </if>
      <if test="payPlatform != null" >
        #{payPlatform,jdbcType=DECIMAL},
      </if>
      <if test="delivery != null" >
        #{delivery,jdbcType=DECIMAL},
      </if>
      <if test="isConfirm != null" >
        #{isConfirm,jdbcType=DECIMAL},
      </if>
      <if test="orderSum != null" >
        #{orderSum,jdbcType=DECIMAL},
      </if>
      <if test="shipFee != null" >
        #{shipFee,jdbcType=DECIMAL},
      </if>
      <if test="isPaid != null" >
        #{isPaid,jdbcType=DECIMAL},
      </if>
      <if test="orderState != null" >
        #{orderState,jdbcType=DECIMAL},
      </if>
      <if test="paymentCash != null" >
        #{paymentCash,jdbcType=DECIMAL},
      </if>
      <if test="distriId != null" >
        #{distriId,jdbcType=DECIMAL},
      </if>
      <if test="deliveryMethod != null" >
        #{deliveryMethod,jdbcType=DECIMAL},
      </if>
      <if test="paymentNo != null" >
        #{paymentNo,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="depositTime != null" >
        #{depositTime,jdbcType=TIMESTAMP},
      </if>
      <if test="successTime != null" >
        #{successTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="srvType != null" >
        #{srvType,jdbcType=DECIMAL},
      </if>
      <if test="selfCollectSite != null" >
        #{selfCollectSite,jdbcType=VARCHAR},
      </if>
      <if test="selfCollectSiteId != null" >
        #{selfCollectSiteId,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="isDisplay != null" >
        #{isDisplay,jdbcType=DECIMAL},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="shipName != null" >
        #{shipName,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="payable != null" >
        #{payable,jdbcType=DECIMAL},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="contents != null" >
        #{contents,jdbcType=DECIMAL},
      </if>
      <if test="isCall != null" >
        #{isCall,jdbcType=DECIMAL},
      </if>
      <if test="deliveryNo != null" >
        #{deliveryNo,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="isPrint != null" >
        #{isPrint,jdbcType=DECIMAL},
      </if>
      <if test="crmCallsTime != null" >
        #{crmCallsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isOfferRelease != null" >
        #{isOfferRelease,jdbcType=DECIMAL},
      </if>
      <if test="jobNum != null" >
        #{jobNum,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=DECIMAL},
      </if>
      <if test="fixedPhone != null" >
        #{fixedPhone,jdbcType=VARCHAR},
      </if>
      <if test="attachFile != null" >
        #{attachFile,jdbcType=VARCHAR},
      </if>
      <if test="returnType != null" >
        #{returnType,jdbcType=DECIMAL},
      </if>
      <if test="seckillId != null" >
        #{seckillId,jdbcType=DECIMAL},
      </if>
      <if test="orderSource != null" >
        #{orderSource,jdbcType=DECIMAL},
      </if>
      <if test="orderExt1 != null" >
        #{orderExt1,jdbcType=VARCHAR},
      </if>
      <if test="orderExt2 != null" >
        #{orderExt2,jdbcType=VARCHAR},
      </if>
      <if test="orderExt3 != null" >
        #{orderExt3,jdbcType=VARCHAR},
      </if>
      <if test="orderExt4 != null" >
        #{orderExt4,jdbcType=VARCHAR},
      </if>
      <if test="orderExt5 != null" >
        #{orderExt5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rl.ecps.model.EbOrder" >
    update EB_ORDER
    <set >
      <if test="ptlUserId != null" >
        PTL_USER_ID = #{ptlUserId,jdbcType=DECIMAL},
      </if>
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        ORDER_NUM = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="payment != null" >
        PAYMENT = #{payment,jdbcType=DECIMAL},
      </if>
      <if test="payPlatform != null" >
        PAY_PLATFORM = #{payPlatform,jdbcType=DECIMAL},
      </if>
      <if test="delivery != null" >
        DELIVERY = #{delivery,jdbcType=DECIMAL},
      </if>
      <if test="isConfirm != null" >
        IS_CONFIRM = #{isConfirm,jdbcType=DECIMAL},
      </if>
      <if test="orderSum != null" >
        ORDER_SUM = #{orderSum,jdbcType=DECIMAL},
      </if>
      <if test="shipFee != null" >
        SHIP_FEE = #{shipFee,jdbcType=DECIMAL},
      </if>
      <if test="isPaid != null" >
        IS_PAID = #{isPaid,jdbcType=DECIMAL},
      </if>
      <if test="orderState != null" >
        ORDER_STATE = #{orderState,jdbcType=DECIMAL},
      </if>
      <if test="paymentCash != null" >
        PAYMENT_CASH = #{paymentCash,jdbcType=DECIMAL},
      </if>
      <if test="distriId != null" >
        DISTRI_ID = #{distriId,jdbcType=DECIMAL},
      </if>
      <if test="deliveryMethod != null" >
        DELIVERY_METHOD = #{deliveryMethod,jdbcType=DECIMAL},
      </if>
      <if test="paymentNo != null" >
        PAYMENT_NO = #{paymentNo,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null" >
        ORDER_TIME = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="depositTime != null" >
        DEPOSIT_TIME = #{depositTime,jdbcType=TIMESTAMP},
      </if>
      <if test="successTime != null" >
        SUCCESS_TIME = #{successTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="srvType != null" >
        SRV_TYPE = #{srvType,jdbcType=DECIMAL},
      </if>
      <if test="selfCollectSite != null" >
        SELF_COLLECT_SITE = #{selfCollectSite,jdbcType=VARCHAR},
      </if>
      <if test="selfCollectSiteId != null" >
        SELF_COLLECT_SITE_ID = #{selfCollectSiteId,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null" >
        IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="isDisplay != null" >
        IS_DISPLAY = #{isDisplay,jdbcType=DECIMAL},
      </if>
      <if test="notes != null" >
        NOTES = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="shipName != null" >
        SHIP_NAME = #{shipName,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        DISTRICT = #{district,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        ZIP_CODE = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        ADDR = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="payable != null" >
        PAYABLE = #{payable,jdbcType=DECIMAL},
      </if>
      <if test="company != null" >
        COMPANY = #{company,jdbcType=VARCHAR},
      </if>
      <if test="contents != null" >
        CONTENTS = #{contents,jdbcType=DECIMAL},
      </if>
      <if test="isCall != null" >
        IS_CALL = #{isCall,jdbcType=DECIMAL},
      </if>
      <if test="deliveryNo != null" >
        DELIVERY_NO = #{deliveryNo,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        AREA_CODE = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        AREA_NAME = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="isPrint != null" >
        IS_PRINT = #{isPrint,jdbcType=DECIMAL},
      </if>
      <if test="crmCallsTime != null" >
        CRM_CALLS_TIME = #{crmCallsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isOfferRelease != null" >
        IS_OFFER_RELEASE = #{isOfferRelease,jdbcType=DECIMAL},
      </if>
      <if test="jobNum != null" >
        JOB_NUM = #{jobNum,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        ORDER_TYPE = #{orderType,jdbcType=DECIMAL},
      </if>
      <if test="fixedPhone != null" >
        FIXED_PHONE = #{fixedPhone,jdbcType=VARCHAR},
      </if>
      <if test="attachFile != null" >
        ATTACH_FILE = #{attachFile,jdbcType=VARCHAR},
      </if>
      <if test="returnType != null" >
        RETURN_TYPE = #{returnType,jdbcType=DECIMAL},
      </if>
      <if test="seckillId != null" >
        SECKILL_ID = #{seckillId,jdbcType=DECIMAL},
      </if>
      <if test="orderSource != null" >
        ORDER_SOURCE = #{orderSource,jdbcType=DECIMAL},
      </if>
      <if test="orderExt1 != null" >
        ORDER_EXT1 = #{orderExt1,jdbcType=VARCHAR},
      </if>
      <if test="orderExt2 != null" >
        ORDER_EXT2 = #{orderExt2,jdbcType=VARCHAR},
      </if>
      <if test="orderExt3 != null" >
        ORDER_EXT3 = #{orderExt3,jdbcType=VARCHAR},
      </if>
      <if test="orderExt4 != null" >
        ORDER_EXT4 = #{orderExt4,jdbcType=VARCHAR},
      </if>
      <if test="orderExt5 != null" >
        ORDER_EXT5 = #{orderExt5,jdbcType=VARCHAR},
      </if>
    </set>
    where ORDER_ID = #{orderId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rl.ecps.model.EbOrder" >
    update EB_ORDER
    set PTL_USER_ID = #{ptlUserId,jdbcType=DECIMAL},
      USERNAME = #{username,jdbcType=VARCHAR},
      ORDER_NUM = #{orderNum,jdbcType=VARCHAR},
      PAYMENT = #{payment,jdbcType=DECIMAL},
      PAY_PLATFORM = #{payPlatform,jdbcType=DECIMAL},
      DELIVERY = #{delivery,jdbcType=DECIMAL},
      IS_CONFIRM = #{isConfirm,jdbcType=DECIMAL},
      ORDER_SUM = #{orderSum,jdbcType=DECIMAL},
      SHIP_FEE = #{shipFee,jdbcType=DECIMAL},
      IS_PAID = #{isPaid,jdbcType=DECIMAL},
      ORDER_STATE = #{orderState,jdbcType=DECIMAL},
      PAYMENT_CASH = #{paymentCash,jdbcType=DECIMAL},
      DISTRI_ID = #{distriId,jdbcType=DECIMAL},
      DELIVERY_METHOD = #{deliveryMethod,jdbcType=DECIMAL},
      PAYMENT_NO = #{paymentNo,jdbcType=VARCHAR},
      ORDER_TIME = #{orderTime,jdbcType=TIMESTAMP},
      PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
      DEPOSIT_TIME = #{depositTime,jdbcType=TIMESTAMP},
      SUCCESS_TIME = #{successTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      SRV_TYPE = #{srvType,jdbcType=DECIMAL},
      SELF_COLLECT_SITE = #{selfCollectSite,jdbcType=VARCHAR},
      SELF_COLLECT_SITE_ID = #{selfCollectSiteId,jdbcType=DECIMAL},
      IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      IS_DISPLAY = #{isDisplay,jdbcType=DECIMAL},
      NOTES = #{notes,jdbcType=VARCHAR},
      SHIP_NAME = #{shipName,jdbcType=VARCHAR},
      PROVINCE = #{province,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      DISTRICT = #{district,jdbcType=VARCHAR},
      ZIP_CODE = #{zipCode,jdbcType=VARCHAR},
      ADDR = #{addr,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      PAYABLE = #{payable,jdbcType=DECIMAL},
      COMPANY = #{company,jdbcType=VARCHAR},
      CONTENTS = #{contents,jdbcType=DECIMAL},
      IS_CALL = #{isCall,jdbcType=DECIMAL},
      DELIVERY_NO = #{deliveryNo,jdbcType=VARCHAR},
      AREA_CODE = #{areaCode,jdbcType=VARCHAR},
      AREA_NAME = #{areaName,jdbcType=VARCHAR},
      IS_PRINT = #{isPrint,jdbcType=DECIMAL},
      CRM_CALLS_TIME = #{crmCallsTime,jdbcType=TIMESTAMP},
      IS_OFFER_RELEASE = #{isOfferRelease,jdbcType=DECIMAL},
      JOB_NUM = #{jobNum,jdbcType=VARCHAR},
      ORDER_TYPE = #{orderType,jdbcType=DECIMAL},
      FIXED_PHONE = #{fixedPhone,jdbcType=VARCHAR},
      ATTACH_FILE = #{attachFile,jdbcType=VARCHAR},
      RETURN_TYPE = #{returnType,jdbcType=DECIMAL},
      SECKILL_ID = #{seckillId,jdbcType=DECIMAL},
      ORDER_SOURCE = #{orderSource,jdbcType=DECIMAL},
      ORDER_EXT1 = #{orderExt1,jdbcType=VARCHAR},
      ORDER_EXT2 = #{orderExt2,jdbcType=VARCHAR},
      ORDER_EXT3 = #{orderExt3,jdbcType=VARCHAR},
      ORDER_EXT4 = #{orderExt4,jdbcType=VARCHAR},
      ORDER_EXT5 = #{orderExt5,jdbcType=VARCHAR}
    where ORDER_ID = #{orderId,jdbcType=DECIMAL}
  </update>
</mapper>