<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rl.ecps.sqlMap.EbOrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.rl.ecps.model.EbOrderDetail" >
    <id column="ORDER_DETAIL_ID" property="orderDetailId" jdbcType="DECIMAL" />
    <result column="ORDER_ID" property="orderId" jdbcType="DECIMAL" />
    <result column="ITEM_ID" property="itemId" jdbcType="DECIMAL" />
    <result column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
    <result column="ITEM_NO" property="itemNo" jdbcType="VARCHAR" />
    <result column="SKU_ID" property="skuId" jdbcType="DECIMAL" />
    <result column="SKU" property="sku" jdbcType="VARCHAR" />
    <result column="SKU_IMG" property="skuImg" jdbcType="VARCHAR" />
    <result column="SKU_NAME" property="skuName" jdbcType="VARCHAR" />
    <result column="SKU_CAT_TYPE" property="skuCatType" jdbcType="DECIMAL" />
    <result column="SKU_SPEC" property="skuSpec" jdbcType="VARCHAR" />
    <result column="MARKET_PRICE" property="marketPrice" jdbcType="DECIMAL" />
    <result column="SKU_DISCOUNT" property="skuDiscount" jdbcType="DECIMAL" />
    <result column="SKU_PRICE" property="skuPrice" jdbcType="DECIMAL" />
    <result column="OFFER_GROUP_ID" property="offerGroupId" jdbcType="DECIMAL" />
    <result column="OFFER_GROUP_NAME" property="offerGroupName" jdbcType="VARCHAR" />
    <result column="OFFER_TYPE" property="offerType" jdbcType="DECIMAL" />
    <result column="SHORT_NAME" property="shortName" jdbcType="VARCHAR" />
    <result column="OFFER_ID" property="offerId" jdbcType="DECIMAL" />
    <result column="OFFER_NAME" property="offerName" jdbcType="VARCHAR" />
    <result column="OFFER_NO" property="offerNo" jdbcType="VARCHAR" />
    <result column="SHORT_NAME2" property="shortName2" jdbcType="VARCHAR" />
    <result column="OFFER_TERM" property="offerTerm" jdbcType="DECIMAL" />
    <result column="COMMIT_MONTHLY" property="commitMonthly" jdbcType="DECIMAL" />
    <result column="PREPAID" property="prepaid" jdbcType="DECIMAL" />
    <result column="PERIOD" property="period" jdbcType="DECIMAL" />
    <result column="REFUND_MONTHLY" property="refundMonthly" jdbcType="DECIMAL" />
    <result column="REFUND_1ST_MONTH" property="refund1stMonth" jdbcType="DECIMAL" />
    <result column="REFUND_LAST_MONTH" property="refundLastMonth" jdbcType="DECIMAL" />
    <result column="ORDER_DETAIL_TYPE" property="orderDetailType" jdbcType="DECIMAL" />
    <result column="MERCHANT_ID" property="merchantId" jdbcType="DECIMAL" />
    <result column="QUANTITY" property="quantity" jdbcType="DECIMAL" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="SERIESCODE" property="seriescode" jdbcType="VARCHAR" />
    <result column="OFFER_GROUP_NO" property="offerGroupNo" jdbcType="VARCHAR" />
    <result column="PROMO_TYPE" property="promoType" jdbcType="DECIMAL" />
    <result column="COND_ID" property="condId" jdbcType="VARCHAR" />
    <result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR" />
    <result column="PAYMENT_PRICE" property="paymentPrice" jdbcType="DECIMAL" />
    <result column="PURCHASE_PRICE" property="purchasePrice" jdbcType="DECIMAL" />
    <result column="SIMCARD_SUIT_ID" property="simcardSuitId" jdbcType="DECIMAL" />
    <result column="SIMCARD_PACKAGE_ID" property="simcardPackageId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ORDER_DETAIL_ID, ORDER_ID, ITEM_ID, ITEM_NAME, ITEM_NO, SKU_ID, SKU, SKU_IMG, SKU_NAME, 
    SKU_CAT_TYPE, SKU_SPEC, MARKET_PRICE, SKU_DISCOUNT, SKU_PRICE, OFFER_GROUP_ID, OFFER_GROUP_NAME, 
    OFFER_TYPE, SHORT_NAME, OFFER_ID, OFFER_NAME, OFFER_NO, SHORT_NAME2, OFFER_TERM, 
    COMMIT_MONTHLY, PREPAID, PERIOD, REFUND_MONTHLY, REFUND_1ST_MONTH, REFUND_LAST_MONTH, 
    ORDER_DETAIL_TYPE, MERCHANT_ID, QUANTITY, PRICE, SERIESCODE, OFFER_GROUP_NO, PROMO_TYPE, 
    COND_ID, PRODUCT_ID, PAYMENT_PRICE, PURCHASE_PRICE, SIMCARD_SUIT_ID, SIMCARD_PACKAGE_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from EB_ORDER_DETAIL
    where ORDER_DETAIL_ID = #{orderDetailId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from EB_ORDER_DETAIL
    where ORDER_DETAIL_ID = #{orderDetailId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.rl.ecps.model.EbOrderDetail" >
    insert into EB_ORDER_DETAIL (ORDER_DETAIL_ID, ORDER_ID, ITEM_ID, 
      ITEM_NAME, ITEM_NO, SKU_ID, 
      SKU, SKU_IMG, SKU_NAME, 
      SKU_CAT_TYPE, SKU_SPEC, MARKET_PRICE, 
      SKU_DISCOUNT, SKU_PRICE, OFFER_GROUP_ID, 
      OFFER_GROUP_NAME, OFFER_TYPE, SHORT_NAME, 
      OFFER_ID, OFFER_NAME, OFFER_NO, 
      SHORT_NAME2, OFFER_TERM, COMMIT_MONTHLY, 
      PREPAID, PERIOD, REFUND_MONTHLY, 
      REFUND_1ST_MONTH, REFUND_LAST_MONTH, ORDER_DETAIL_TYPE, 
      MERCHANT_ID, QUANTITY, PRICE, 
      SERIESCODE, OFFER_GROUP_NO, PROMO_TYPE, 
      COND_ID, PRODUCT_ID, PAYMENT_PRICE, 
      PURCHASE_PRICE, SIMCARD_SUIT_ID, SIMCARD_PACKAGE_ID
      )
    values (seqorderdetailid.nextval, #{orderId,jdbcType=DECIMAL}, #{itemId,jdbcType=DECIMAL},
      #{itemName,jdbcType=VARCHAR}, #{itemNo,jdbcType=VARCHAR}, #{skuId,jdbcType=DECIMAL}, 
      #{sku,jdbcType=VARCHAR}, #{skuImg,jdbcType=VARCHAR}, #{skuName,jdbcType=VARCHAR}, 
      #{skuCatType,jdbcType=DECIMAL}, #{skuSpec,jdbcType=VARCHAR}, #{marketPrice,jdbcType=DECIMAL}, 
      #{skuDiscount,jdbcType=DECIMAL}, #{skuPrice,jdbcType=DECIMAL}, #{offerGroupId,jdbcType=DECIMAL}, 
      #{offerGroupName,jdbcType=VARCHAR}, #{offerType,jdbcType=DECIMAL}, #{shortName,jdbcType=VARCHAR}, 
      #{offerId,jdbcType=DECIMAL}, #{offerName,jdbcType=VARCHAR}, #{offerNo,jdbcType=VARCHAR}, 
      #{shortName2,jdbcType=VARCHAR}, #{offerTerm,jdbcType=DECIMAL}, #{commitMonthly,jdbcType=DECIMAL}, 
      #{prepaid,jdbcType=DECIMAL}, #{period,jdbcType=DECIMAL}, #{refundMonthly,jdbcType=DECIMAL}, 
      #{refund1stMonth,jdbcType=DECIMAL}, #{refundLastMonth,jdbcType=DECIMAL}, #{orderDetailType,jdbcType=DECIMAL}, 
      #{merchantId,jdbcType=DECIMAL}, #{quantity,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, 
      #{seriescode,jdbcType=VARCHAR}, #{offerGroupNo,jdbcType=VARCHAR}, #{promoType,jdbcType=DECIMAL}, 
      #{condId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, #{paymentPrice,jdbcType=DECIMAL}, 
      #{purchasePrice,jdbcType=DECIMAL}, #{simcardSuitId,jdbcType=DECIMAL}, #{simcardPackageId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rl.ecps.model.EbOrderDetail" >
    insert into EB_ORDER_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderDetailId != null" >
        ORDER_DETAIL_ID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="itemId != null" >
        ITEM_ID,
      </if>
      <if test="itemName != null" >
        ITEM_NAME,
      </if>
      <if test="itemNo != null" >
        ITEM_NO,
      </if>
      <if test="skuId != null" >
        SKU_ID,
      </if>
      <if test="sku != null" >
        SKU,
      </if>
      <if test="skuImg != null" >
        SKU_IMG,
      </if>
      <if test="skuName != null" >
        SKU_NAME,
      </if>
      <if test="skuCatType != null" >
        SKU_CAT_TYPE,
      </if>
      <if test="skuSpec != null" >
        SKU_SPEC,
      </if>
      <if test="marketPrice != null" >
        MARKET_PRICE,
      </if>
      <if test="skuDiscount != null" >
        SKU_DISCOUNT,
      </if>
      <if test="skuPrice != null" >
        SKU_PRICE,
      </if>
      <if test="offerGroupId != null" >
        OFFER_GROUP_ID,
      </if>
      <if test="offerGroupName != null" >
        OFFER_GROUP_NAME,
      </if>
      <if test="offerType != null" >
        OFFER_TYPE,
      </if>
      <if test="shortName != null" >
        SHORT_NAME,
      </if>
      <if test="offerId != null" >
        OFFER_ID,
      </if>
      <if test="offerName != null" >
        OFFER_NAME,
      </if>
      <if test="offerNo != null" >
        OFFER_NO,
      </if>
      <if test="shortName2 != null" >
        SHORT_NAME2,
      </if>
      <if test="offerTerm != null" >
        OFFER_TERM,
      </if>
      <if test="commitMonthly != null" >
        COMMIT_MONTHLY,
      </if>
      <if test="prepaid != null" >
        PREPAID,
      </if>
      <if test="period != null" >
        PERIOD,
      </if>
      <if test="refundMonthly != null" >
        REFUND_MONTHLY,
      </if>
      <if test="refund1stMonth != null" >
        REFUND_1ST_MONTH,
      </if>
      <if test="refundLastMonth != null" >
        REFUND_LAST_MONTH,
      </if>
      <if test="orderDetailType != null" >
        ORDER_DETAIL_TYPE,
      </if>
      <if test="merchantId != null" >
        MERCHANT_ID,
      </if>
      <if test="quantity != null" >
        QUANTITY,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="seriescode != null" >
        SERIESCODE,
      </if>
      <if test="offerGroupNo != null" >
        OFFER_GROUP_NO,
      </if>
      <if test="promoType != null" >
        PROMO_TYPE,
      </if>
      <if test="condId != null" >
        COND_ID,
      </if>
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="paymentPrice != null" >
        PAYMENT_PRICE,
      </if>
      <if test="purchasePrice != null" >
        PURCHASE_PRICE,
      </if>
      <if test="simcardSuitId != null" >
        SIMCARD_SUIT_ID,
      </if>
      <if test="simcardPackageId != null" >
        SIMCARD_PACKAGE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderDetailId != null" >
        #{orderDetailId,jdbcType=DECIMAL},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=DECIMAL},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=DECIMAL},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemNo != null" >
        #{itemNo,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=DECIMAL},
      </if>
      <if test="sku != null" >
        #{sku,jdbcType=VARCHAR},
      </if>
      <if test="skuImg != null" >
        #{skuImg,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null" >
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="skuCatType != null" >
        #{skuCatType,jdbcType=DECIMAL},
      </if>
      <if test="skuSpec != null" >
        #{skuSpec,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null" >
        #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="skuDiscount != null" >
        #{skuDiscount,jdbcType=DECIMAL},
      </if>
      <if test="skuPrice != null" >
        #{skuPrice,jdbcType=DECIMAL},
      </if>
      <if test="offerGroupId != null" >
        #{offerGroupId,jdbcType=DECIMAL},
      </if>
      <if test="offerGroupName != null" >
        #{offerGroupName,jdbcType=VARCHAR},
      </if>
      <if test="offerType != null" >
        #{offerType,jdbcType=DECIMAL},
      </if>
      <if test="shortName != null" >
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="offerId != null" >
        #{offerId,jdbcType=DECIMAL},
      </if>
      <if test="offerName != null" >
        #{offerName,jdbcType=VARCHAR},
      </if>
      <if test="offerNo != null" >
        #{offerNo,jdbcType=VARCHAR},
      </if>
      <if test="shortName2 != null" >
        #{shortName2,jdbcType=VARCHAR},
      </if>
      <if test="offerTerm != null" >
        #{offerTerm,jdbcType=DECIMAL},
      </if>
      <if test="commitMonthly != null" >
        #{commitMonthly,jdbcType=DECIMAL},
      </if>
      <if test="prepaid != null" >
        #{prepaid,jdbcType=DECIMAL},
      </if>
      <if test="period != null" >
        #{period,jdbcType=DECIMAL},
      </if>
      <if test="refundMonthly != null" >
        #{refundMonthly,jdbcType=DECIMAL},
      </if>
      <if test="refund1stMonth != null" >
        #{refund1stMonth,jdbcType=DECIMAL},
      </if>
      <if test="refundLastMonth != null" >
        #{refundLastMonth,jdbcType=DECIMAL},
      </if>
      <if test="orderDetailType != null" >
        #{orderDetailType,jdbcType=DECIMAL},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="seriescode != null" >
        #{seriescode,jdbcType=VARCHAR},
      </if>
      <if test="offerGroupNo != null" >
        #{offerGroupNo,jdbcType=VARCHAR},
      </if>
      <if test="promoType != null" >
        #{promoType,jdbcType=DECIMAL},
      </if>
      <if test="condId != null" >
        #{condId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="paymentPrice != null" >
        #{paymentPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchasePrice != null" >
        #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="simcardSuitId != null" >
        #{simcardSuitId,jdbcType=DECIMAL},
      </if>
      <if test="simcardPackageId != null" >
        #{simcardPackageId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rl.ecps.model.EbOrderDetail" >
    update EB_ORDER_DETAIL
    <set >
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=DECIMAL},
      </if>
      <if test="itemId != null" >
        ITEM_ID = #{itemId,jdbcType=DECIMAL},
      </if>
      <if test="itemName != null" >
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemNo != null" >
        ITEM_NO = #{itemNo,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null" >
        SKU_ID = #{skuId,jdbcType=DECIMAL},
      </if>
      <if test="sku != null" >
        SKU = #{sku,jdbcType=VARCHAR},
      </if>
      <if test="skuImg != null" >
        SKU_IMG = #{skuImg,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null" >
        SKU_NAME = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="skuCatType != null" >
        SKU_CAT_TYPE = #{skuCatType,jdbcType=DECIMAL},
      </if>
      <if test="skuSpec != null" >
        SKU_SPEC = #{skuSpec,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null" >
        MARKET_PRICE = #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="skuDiscount != null" >
        SKU_DISCOUNT = #{skuDiscount,jdbcType=DECIMAL},
      </if>
      <if test="skuPrice != null" >
        SKU_PRICE = #{skuPrice,jdbcType=DECIMAL},
      </if>
      <if test="offerGroupId != null" >
        OFFER_GROUP_ID = #{offerGroupId,jdbcType=DECIMAL},
      </if>
      <if test="offerGroupName != null" >
        OFFER_GROUP_NAME = #{offerGroupName,jdbcType=VARCHAR},
      </if>
      <if test="offerType != null" >
        OFFER_TYPE = #{offerType,jdbcType=DECIMAL},
      </if>
      <if test="shortName != null" >
        SHORT_NAME = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="offerId != null" >
        OFFER_ID = #{offerId,jdbcType=DECIMAL},
      </if>
      <if test="offerName != null" >
        OFFER_NAME = #{offerName,jdbcType=VARCHAR},
      </if>
      <if test="offerNo != null" >
        OFFER_NO = #{offerNo,jdbcType=VARCHAR},
      </if>
      <if test="shortName2 != null" >
        SHORT_NAME2 = #{shortName2,jdbcType=VARCHAR},
      </if>
      <if test="offerTerm != null" >
        OFFER_TERM = #{offerTerm,jdbcType=DECIMAL},
      </if>
      <if test="commitMonthly != null" >
        COMMIT_MONTHLY = #{commitMonthly,jdbcType=DECIMAL},
      </if>
      <if test="prepaid != null" >
        PREPAID = #{prepaid,jdbcType=DECIMAL},
      </if>
      <if test="period != null" >
        PERIOD = #{period,jdbcType=DECIMAL},
      </if>
      <if test="refundMonthly != null" >
        REFUND_MONTHLY = #{refundMonthly,jdbcType=DECIMAL},
      </if>
      <if test="refund1stMonth != null" >
        REFUND_1ST_MONTH = #{refund1stMonth,jdbcType=DECIMAL},
      </if>
      <if test="refundLastMonth != null" >
        REFUND_LAST_MONTH = #{refundLastMonth,jdbcType=DECIMAL},
      </if>
      <if test="orderDetailType != null" >
        ORDER_DETAIL_TYPE = #{orderDetailType,jdbcType=DECIMAL},
      </if>
      <if test="merchantId != null" >
        MERCHANT_ID = #{merchantId,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        QUANTITY = #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="seriescode != null" >
        SERIESCODE = #{seriescode,jdbcType=VARCHAR},
      </if>
      <if test="offerGroupNo != null" >
        OFFER_GROUP_NO = #{offerGroupNo,jdbcType=VARCHAR},
      </if>
      <if test="promoType != null" >
        PROMO_TYPE = #{promoType,jdbcType=DECIMAL},
      </if>
      <if test="condId != null" >
        COND_ID = #{condId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="paymentPrice != null" >
        PAYMENT_PRICE = #{paymentPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchasePrice != null" >
        PURCHASE_PRICE = #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="simcardSuitId != null" >
        SIMCARD_SUIT_ID = #{simcardSuitId,jdbcType=DECIMAL},
      </if>
      <if test="simcardPackageId != null" >
        SIMCARD_PACKAGE_ID = #{simcardPackageId,jdbcType=VARCHAR},
      </if>
    </set>
    where ORDER_DETAIL_ID = #{orderDetailId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rl.ecps.model.EbOrderDetail" >
    update EB_ORDER_DETAIL
    set ORDER_ID = #{orderId,jdbcType=DECIMAL},
      ITEM_ID = #{itemId,jdbcType=DECIMAL},
      ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      ITEM_NO = #{itemNo,jdbcType=VARCHAR},
      SKU_ID = #{skuId,jdbcType=DECIMAL},
      SKU = #{sku,jdbcType=VARCHAR},
      SKU_IMG = #{skuImg,jdbcType=VARCHAR},
      SKU_NAME = #{skuName,jdbcType=VARCHAR},
      SKU_CAT_TYPE = #{skuCatType,jdbcType=DECIMAL},
      SKU_SPEC = #{skuSpec,jdbcType=VARCHAR},
      MARKET_PRICE = #{marketPrice,jdbcType=DECIMAL},
      SKU_DISCOUNT = #{skuDiscount,jdbcType=DECIMAL},
      SKU_PRICE = #{skuPrice,jdbcType=DECIMAL},
      OFFER_GROUP_ID = #{offerGroupId,jdbcType=DECIMAL},
      OFFER_GROUP_NAME = #{offerGroupName,jdbcType=VARCHAR},
      OFFER_TYPE = #{offerType,jdbcType=DECIMAL},
      SHORT_NAME = #{shortName,jdbcType=VARCHAR},
      OFFER_ID = #{offerId,jdbcType=DECIMAL},
      OFFER_NAME = #{offerName,jdbcType=VARCHAR},
      OFFER_NO = #{offerNo,jdbcType=VARCHAR},
      SHORT_NAME2 = #{shortName2,jdbcType=VARCHAR},
      OFFER_TERM = #{offerTerm,jdbcType=DECIMAL},
      COMMIT_MONTHLY = #{commitMonthly,jdbcType=DECIMAL},
      PREPAID = #{prepaid,jdbcType=DECIMAL},
      PERIOD = #{period,jdbcType=DECIMAL},
      REFUND_MONTHLY = #{refundMonthly,jdbcType=DECIMAL},
      REFUND_1ST_MONTH = #{refund1stMonth,jdbcType=DECIMAL},
      REFUND_LAST_MONTH = #{refundLastMonth,jdbcType=DECIMAL},
      ORDER_DETAIL_TYPE = #{orderDetailType,jdbcType=DECIMAL},
      MERCHANT_ID = #{merchantId,jdbcType=DECIMAL},
      QUANTITY = #{quantity,jdbcType=DECIMAL},
      PRICE = #{price,jdbcType=DECIMAL},
      SERIESCODE = #{seriescode,jdbcType=VARCHAR},
      OFFER_GROUP_NO = #{offerGroupNo,jdbcType=VARCHAR},
      PROMO_TYPE = #{promoType,jdbcType=DECIMAL},
      COND_ID = #{condId,jdbcType=VARCHAR},
      PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      PAYMENT_PRICE = #{paymentPrice,jdbcType=DECIMAL},
      PURCHASE_PRICE = #{purchasePrice,jdbcType=DECIMAL},
      SIMCARD_SUIT_ID = #{simcardSuitId,jdbcType=DECIMAL},
      SIMCARD_PACKAGE_ID = #{simcardPackageId,jdbcType=VARCHAR}
    where ORDER_DETAIL_ID = #{orderDetailId,jdbcType=DECIMAL}
  </update>
</mapper>