<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rl.ecps.sqlMap.EbParaValueMapper" >
  <resultMap id="BaseResultMap" type="com.rl.ecps.model.EbParaValue" >
    <id column="PARA_ID" property="paraId" jdbcType="DECIMAL" />
    <result column="ITEM_ID" property="itemId" jdbcType="DECIMAL" />
    <result column="FEATURE_ID" property="featureId" jdbcType="DECIMAL" />
    <result column="PARA_VALUE" property="paraValue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PARA_ID, ITEM_ID, FEATURE_ID, PARA_VALUE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from EB_PARA_VALUE
    where PARA_ID = #{paraId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from EB_PARA_VALUE
    where PARA_ID = #{paraId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.rl.ecps.model.EbParaValue" >
    insert into EB_PARA_VALUE (PARA_ID, ITEM_ID, FEATURE_ID, 
      PARA_VALUE)
    values (seqparavalueid.nextval, #{itemId,jdbcType=DECIMAL}, #{featureId,jdbcType=DECIMAL},
      #{paraValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rl.ecps.model.EbParaValue" >
    insert into EB_PARA_VALUE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="paraId != null" >
        PARA_ID,
      </if>
      <if test="itemId != null" >
        ITEM_ID,
      </if>
      <if test="featureId != null" >
        FEATURE_ID,
      </if>
      <if test="paraValue != null" >
        PARA_VALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="paraId != null" >
        #{paraId,jdbcType=DECIMAL},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=DECIMAL},
      </if>
      <if test="featureId != null" >
        #{featureId,jdbcType=DECIMAL},
      </if>
      <if test="paraValue != null" >
        #{paraValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rl.ecps.model.EbParaValue" >
    update EB_PARA_VALUE
    <set >
      <if test="itemId != null" >
        ITEM_ID = #{itemId,jdbcType=DECIMAL},
      </if>
      <if test="featureId != null" >
        FEATURE_ID = #{featureId,jdbcType=DECIMAL},
      </if>
      <if test="paraValue != null" >
        PARA_VALUE = #{paraValue,jdbcType=VARCHAR},
      </if>
    </set>
    where PARA_ID = #{paraId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rl.ecps.model.EbParaValue" >
    update EB_PARA_VALUE
    set ITEM_ID = #{itemId,jdbcType=DECIMAL},
      FEATURE_ID = #{featureId,jdbcType=DECIMAL},
      PARA_VALUE = #{paraValue,jdbcType=VARCHAR}
    where PARA_ID = #{paraId,jdbcType=DECIMAL}
  </update>
</mapper>