<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rl.ecps.sqlMap.TsPtlUserMapper" >
  <resultMap id="BaseResultMap" type="com.rl.ecps.model.TsPtlUser" >
    <id column="PTL_USER_ID" property="ptlUserId" jdbcType="DECIMAL" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="GENDER" property="gender" jdbcType="DECIMAL" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="NICKNAME" property="nickname" jdbcType="VARCHAR" />
    <result column="REAL_NAME" property="realName" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="RESI_PROV" property="resiProv" jdbcType="VARCHAR" />
    <result column="RESI_CITY" property="resiCity" jdbcType="VARCHAR" />
    <result column="RESI_DIST" property="resiDist" jdbcType="VARCHAR" />
    <result column="ADDR" property="addr" jdbcType="VARCHAR" />
    <result column="ZIP_CODE" property="zipCode" jdbcType="DECIMAL" />
    <result column="LOGIN_TIME" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="GROUP_ID" property="groupId" jdbcType="DECIMAL" />
    <result column="BIRTHDAY" property="birthday" jdbcType="VARCHAR" />
    <result column="QQ_NUM" property="qqNum" jdbcType="VARCHAR" />
    <result column="MSN_NUM" property="msnNum" jdbcType="VARCHAR" />
    <result column="CELLPHONE" property="cellphone" jdbcType="VARCHAR" />
    <result column="INTRO_INFO" property="introInfo" jdbcType="VARCHAR" />
    <result column="LOGIN_COUNT" property="loginCount" jdbcType="DECIMAL" />
    <result column="REGISTER_TIME" property="registerTime" jdbcType="TIMESTAMP" />
    <result column="IS_MOBILE_CLIENT" property="isMobileClient" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    PTL_USER_ID, USERNAME, GENDER, PASSWORD, NICKNAME, REAL_NAME, PHONE, RESI_PROV, RESI_CITY, 
    RESI_DIST, ADDR, ZIP_CODE, LOGIN_TIME, STATUS, EMAIL, GROUP_ID, BIRTHDAY, QQ_NUM, 
    MSN_NUM, CELLPHONE, INTRO_INFO, LOGIN_COUNT, REGISTER_TIME, IS_MOBILE_CLIENT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from TS_PTL_USER
    where PTL_USER_ID = #{ptlUserId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from TS_PTL_USER
    where PTL_USER_ID = #{ptlUserId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.rl.ecps.model.TsPtlUser" >
    insert into TS_PTL_USER (PTL_USER_ID, USERNAME, GENDER, 
      PASSWORD, NICKNAME, REAL_NAME, 
      PHONE, RESI_PROV, RESI_CITY, 
      RESI_DIST, ADDR, ZIP_CODE, 
      LOGIN_TIME, STATUS, EMAIL, 
      GROUP_ID, BIRTHDAY, QQ_NUM, 
      MSN_NUM, CELLPHONE, INTRO_INFO, 
      LOGIN_COUNT, REGISTER_TIME, IS_MOBILE_CLIENT
      )
    values (#{ptlUserId,jdbcType=DECIMAL}, #{username,jdbcType=VARCHAR}, #{gender,jdbcType=DECIMAL}, 
      #{password,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{resiProv,jdbcType=VARCHAR}, #{resiCity,jdbcType=VARCHAR}, 
      #{resiDist,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, #{zipCode,jdbcType=DECIMAL}, 
      #{loginTime,jdbcType=TIMESTAMP}, #{status,jdbcType=DECIMAL}, #{email,jdbcType=VARCHAR}, 
      #{groupId,jdbcType=DECIMAL}, #{birthday,jdbcType=VARCHAR}, #{qqNum,jdbcType=VARCHAR}, 
      #{msnNum,jdbcType=VARCHAR}, #{cellphone,jdbcType=VARCHAR}, #{introInfo,jdbcType=VARCHAR}, 
      #{loginCount,jdbcType=DECIMAL}, #{registerTime,jdbcType=TIMESTAMP}, #{isMobileClient,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rl.ecps.model.TsPtlUser" >
    insert into TS_PTL_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ptlUserId != null" >
        PTL_USER_ID,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="gender != null" >
        GENDER,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="nickname != null" >
        NICKNAME,
      </if>
      <if test="realName != null" >
        REAL_NAME,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="resiProv != null" >
        RESI_PROV,
      </if>
      <if test="resiCity != null" >
        RESI_CITY,
      </if>
      <if test="resiDist != null" >
        RESI_DIST,
      </if>
      <if test="addr != null" >
        ADDR,
      </if>
      <if test="zipCode != null" >
        ZIP_CODE,
      </if>
      <if test="loginTime != null" >
        LOGIN_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="groupId != null" >
        GROUP_ID,
      </if>
      <if test="birthday != null" >
        BIRTHDAY,
      </if>
      <if test="qqNum != null" >
        QQ_NUM,
      </if>
      <if test="msnNum != null" >
        MSN_NUM,
      </if>
      <if test="cellphone != null" >
        CELLPHONE,
      </if>
      <if test="introInfo != null" >
        INTRO_INFO,
      </if>
      <if test="loginCount != null" >
        LOGIN_COUNT,
      </if>
      <if test="registerTime != null" >
        REGISTER_TIME,
      </if>
      <if test="isMobileClient != null" >
        IS_MOBILE_CLIENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ptlUserId != null" >
        #{ptlUserId,jdbcType=DECIMAL},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=DECIMAL},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="resiProv != null" >
        #{resiProv,jdbcType=VARCHAR},
      </if>
      <if test="resiCity != null" >
        #{resiCity,jdbcType=VARCHAR},
      </if>
      <if test="resiDist != null" >
        #{resiDist,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=DECIMAL},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=DECIMAL},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="qqNum != null" >
        #{qqNum,jdbcType=VARCHAR},
      </if>
      <if test="msnNum != null" >
        #{msnNum,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null" >
        #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="introInfo != null" >
        #{introInfo,jdbcType=VARCHAR},
      </if>
      <if test="loginCount != null" >
        #{loginCount,jdbcType=DECIMAL},
      </if>
      <if test="registerTime != null" >
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isMobileClient != null" >
        #{isMobileClient,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rl.ecps.model.TsPtlUser" >
    update TS_PTL_USER
    <set >
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        GENDER = #{gender,jdbcType=DECIMAL},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        NICKNAME = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        REAL_NAME = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="resiProv != null" >
        RESI_PROV = #{resiProv,jdbcType=VARCHAR},
      </if>
      <if test="resiCity != null" >
        RESI_CITY = #{resiCity,jdbcType=VARCHAR},
      </if>
      <if test="resiDist != null" >
        RESI_DIST = #{resiDist,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        ADDR = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        ZIP_CODE = #{zipCode,jdbcType=DECIMAL},
      </if>
      <if test="loginTime != null" >
        LOGIN_TIME = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        GROUP_ID = #{groupId,jdbcType=DECIMAL},
      </if>
      <if test="birthday != null" >
        BIRTHDAY = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="qqNum != null" >
        QQ_NUM = #{qqNum,jdbcType=VARCHAR},
      </if>
      <if test="msnNum != null" >
        MSN_NUM = #{msnNum,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null" >
        CELLPHONE = #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="introInfo != null" >
        INTRO_INFO = #{introInfo,jdbcType=VARCHAR},
      </if>
      <if test="loginCount != null" >
        LOGIN_COUNT = #{loginCount,jdbcType=DECIMAL},
      </if>
      <if test="registerTime != null" >
        REGISTER_TIME = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isMobileClient != null" >
        IS_MOBILE_CLIENT = #{isMobileClient,jdbcType=DECIMAL},
      </if>
    </set>
    where PTL_USER_ID = #{ptlUserId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rl.ecps.model.TsPtlUser" >
    update TS_PTL_USER
    set USERNAME = #{username,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=DECIMAL},
      PASSWORD = #{password,jdbcType=VARCHAR},
      NICKNAME = #{nickname,jdbcType=VARCHAR},
      REAL_NAME = #{realName,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      RESI_PROV = #{resiProv,jdbcType=VARCHAR},
      RESI_CITY = #{resiCity,jdbcType=VARCHAR},
      RESI_DIST = #{resiDist,jdbcType=VARCHAR},
      ADDR = #{addr,jdbcType=VARCHAR},
      ZIP_CODE = #{zipCode,jdbcType=DECIMAL},
      LOGIN_TIME = #{loginTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=DECIMAL},
      EMAIL = #{email,jdbcType=VARCHAR},
      GROUP_ID = #{groupId,jdbcType=DECIMAL},
      BIRTHDAY = #{birthday,jdbcType=VARCHAR},
      QQ_NUM = #{qqNum,jdbcType=VARCHAR},
      MSN_NUM = #{msnNum,jdbcType=VARCHAR},
      CELLPHONE = #{cellphone,jdbcType=VARCHAR},
      INTRO_INFO = #{introInfo,jdbcType=VARCHAR},
      LOGIN_COUNT = #{loginCount,jdbcType=DECIMAL},
      REGISTER_TIME = #{registerTime,jdbcType=TIMESTAMP},
      IS_MOBILE_CLIENT = #{isMobileClient,jdbcType=DECIMAL}
    where PTL_USER_ID = #{ptlUserId,jdbcType=DECIMAL}
  </update>


  <select id="findUserByUsernamePass" resultMap="BaseResultMap" parameterType="map">

    SELECT  * FROM TS_PTL_USER WHERE username=#{username} and password=#{password}

  </select>
</mapper>